# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# logs
npm-debug.log*

# env files (keep .env.example)
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
